block vars 
doctype html
html
  head
    style
      include font.css
      include style.css
    title BLACKJACK | #{title}
  body
    block body
 #topNav
  h1 <a href="/">Blackjack</a> : #{title}
 #topControls
  if locals.user
   img(src= "http://imgur.com/7zbc8i2.png" value="test") 
   ul
    li: span #{user.chips}
    li: span #{user.username}
    li: span <a href="/logout">Logout</a>
  else
   p <a href="/register">register</a> or <a href="/login">login!</a>
