extends base

block vars
  - var title = 'Dashboard'

block body
 #welcomeContainer
  h1 Dashboard
  <a href="/logout">Logout</a>
  p.
    Welcome, #{user.username}! You are now logged in.

  h2 User Information
  p Username: #{user.username}
  p Chips:       #{user.chips}
  //p Avatar:       #{user.avatar}

  h2 Join a Table!
  <a href="/game">Table 1</a>