extends base

block vars
  - var title = 'Dashboard'

block body
 #dashboardContainer
  h2 Dashboard
  p Welcome, #{user.username}! You are now logged in.

 #tables
  h2 Tables
  ul
   li: <a href="/game">Table 1</a>
   li: <a href="/game">Table 2</a>
   li: <a href="/game">Table 3</a>
   li: <a href="/game">Table 4</a>