extends base

block vars
  - var title = 'Blackjack Dashboard'

block body
  h1 Dashboard
  p.
    Welcome to your Blackjack dashboard! You are now logged in.

  h2 User Information
  p Username: #{user.username}
  //p Data:       #{user.data}
