extends base

block vars
  - var title = 'Play'

block body
 #board
 #avatar
  img(src= "http://i.imgur.com/HEBtz7c.png")
 #controls
  button#hit(data-action="bea") Hit
  i &nbsp;or&nbsp;
  button#no(data-action="bea") Naw
