extends base

block vars
  - var title = 'Play'

block body
 #board
  #dealerDeck
   img(src= "/images/cards/back.svg" id="dummy" width="120" height="170")
  #dealerDeck2
   img(src= "/images/cards/back.svg" id="dummy" width="120" height="170")
  #dealerBoard
   img(src= "/images/cards/back.svg" id="x" width="120" height="170")
   img(src= "#{dctwo}" id="y" width="120" height="170")
  #playerBoard
   img(src= "#{pcone}" id="x" width="120" height="170")
   img(src= "#{pctwo}" id="y" width="120" height="170")
 #avatar
  img(src= "#{user.avatar}")
 #controls
  button#hit(data-action="bea" onclick='hit()') Hit
  i &nbsp;or&nbsp;
  button#no(data-action="bea" onclick='window.alert("pussy")') Naw
