extends base

block vars
  - var title = 'Play'

block body
 #board
  img(src= "images/cards/2C.svg" id="x" width="120" height="170")
  img(src= "images/cards/AS.svg" id="y" width="120" height="170")
 #avatar
  img(src= "#{user.avatar}")
 #controls
  button#hit(data-action="bea") Hit
  i &nbsp;or&nbsp;
  button#no(data-action="bea") Naw
