extends base
block vars
  - var title = 'Play'

block body
 #board
  #dealerDeck
   img(src= "/images/cards/back.svg" id="dummy" width="120" height="170")
  #dealerDeck2
   img(src= "/images/cards/back.svg" id="dummy" width="120" height="170")
  #boardWrap
   #dealerBoard
    img(src= "/images/cards/back.svg" id="x" width="120" height="170")
    img(src= "#{game.dealerHand[1].imgSrc}" id="y" width="120" height="170")
   #playerBoard
    each card in game.playerHand
      img(src= "#{card.imgSrc}" id="x" width="120" height="170")
 #avatar
  img(src= "#{user.avatar}" width="125" height="125")
 #controls
  button#hit(data-action="bea" onclick='hit()') Hit
  i &nbsp;or&nbsp;
  button#no(data-action="bea" onclick='naw()') Naw
