extends base

block vars
  - var title = 'Play'

block body
 #board
  #dealerBoard
   img(src= "images/cards/2C.svg" id="x" width="120" height="170")
   img(src= "images/cards/8D.svg" id="y" width="120" height="170")
  #playerBoard
   img(src= "images/cards/10D.svg" id="x" width="120" height="170")
   img(src= "images/cards/AC.svg" id="y" width="120" height="170")
 #avatar
  img(src= "#{user.avatar}")
 #controls
  button#hit(data-action="bea") Hit
  i &nbsp;or&nbsp;
  button#no(data-action="bea") Naw
