extends base

block vars
  - var title = 'Home'

block body
 #tables
 #welcomeContainer
  p.
    Welcome to Blackjack Game.  Please <a href="/register">register</a> or <a href="/login">login</a> to play!
