extends base

block vars
  - var title = 'Register'

block body
 #tables
 #logregContainer
  h1 Create Account

  if error
    p.errorMessage #{error}

  form(method="post")
    input(type="text", name="username" placeholder="username", required=true)

    input(type="password", name="password" placeholder="password", required=true)
    br

    input(type="submit" value="Submit")
