extends base

block vars
  - var title = 'Register'

block body
 #welcomeContainer
  h1 Create an Account
  <a href="/">BACK</a>

  if error
    p ERROR: #{error}

  form(method="post")
    span Username:
    input(type="text", name="username", required=true)
    br

    span Password:
    input(type="password", name="password", required=true)
    br

    input(type="submit")
