extends base

block vars
  - var title = 'Register'

block body
 #tables
 #logregContainer
  h1 Create Account

  if error
    p ERROR: #{error}

  form(method="post")
    input(type="text", name="username" value="username", required=true)

    input(type="password", name="password" value="password", required=true)
    br

    input(type="submit")
